<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>X.509 Authentication Demo</title>
</head>
<body>
<h2>Hello <span th:text="${who}"/></h2>
Is your certificate valid ?
<span th:if="${signedByCA}"><b>YES</b></span>
<span th:if="${!signedByCA}"><b>NO</b></span>
</body>
</html>